*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.box{

    border: 20px solid green;

    width: 200px;
    height: 200px;
    border-radius: 50%;
    border-bottom: 20px solid black;
    animation-name: spin;
    animation-duration: 2s;
    animation-iteration-count: infinite;
    /* transform: rotate(0 360deg); */
}

@keyframes spin{
    from{
        transform: rotate(0deg);
    }
    to{
        transform: rotate(360deg);
    }
}

